Import Modules

In [1]:
#Importing dependencies
import pandas as pd 
from azure.storage.blob import BlobServiceClient
from dotenv import load_dotenv
import os

In [2]:
#Data Extraction
try:
    data=pd.read_csv(r'zipco_transaction.csv')
    print("Data Extracted Successfully!")
except Exception as e:
    print(f"An error occured: {e}")

Data Extracted Successfully!

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1005 non-null   object
 1   ProductName             1005 non-null   object
 2   Quantity                1005 non-null   int64
 3   UnitPrice               1005 non-null   float64
 4   StoreLocation           1005 non-null   object
 5   PaymentType             1005 non-null   object
 6   PromotionApplied        1005 non-null   bool
 7   Weather                 1005 non-null   object
 8   Temperature             904 non-null    float64
 9   StaffPerformanceRating  1005 non-null   object
 10  CustomerFeedback        905 non-null    object
 11  DeliveryTime_min        1005 non-null   int64
 12  OrderType               1005 non-null   object
 13  CustomerName            1005 non-null   object
 14  CustomerAddress         1005 non-null   object
 15  Customer_PhoneNumber    1005 non-null   object
 16  CustomerEmail           904 non-null    object
 17  Staff_Name              1005 non-null   object
 18  Staff_Email             904 non-null    object
 19  DayOfWeek               1005 non-null   object
 20  TotalSales              1005 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 158.1+ KB

##### Data Cleaning and Transformation

In [4]:
#Checking for duplicates
data[data.duplicated(keep=False)]

,Date,ProductName,Quantity,UnitPrice,StoreLocation,PaymentType,PromotionApplied,Weather,Temperature,StaffPerformanceRating,...,DeliveryTime_min,OrderType,CustomerName,CustomerAddress,Customer_PhoneNumber,CustomerEmail,Staff_Name,Staff_Email,DayOfWeek,TotalSales
78,2023-01-04 06:00:00,Pizza Beef Double decker,2,10.622054,North,Online,True,Cloudy,27.140851,Average,...,54,Online Order,Jordan Brown,"35015 Barnes Ville Suite 109\r\nLake Michelle,...",595.632.5703x77271,patrickpadilla@example.net,Laura Smith,jenniferpeterson@example.org,Wednesday,21.244107
444,2023-01-19 12:00:00,Pizza Margherita,3,11.884452,North,Credit Card,False,Rainy,20.918250,Excellent,...,39,In Store,William Fleming,"1185 Reed Gardens Apt. 896\r\nAlvaradoberg, NJ...",311-265-8170,shane70@example.org,Christian Avila,NaN,Thursday,35.653357
743,2023-01-31 23:00:00,Pizza Beef Double decker,5,15.885889,South,Cash,True,Sunny,28.524787,Good,...,54,Online Order,Kathleen Turner,"9239 Monica Ville Suite 529\r\nMosesland, AR 8...",412-980-5720x189,zperez@example.net,Michael Arroyo,mario41@example.org,Tuesday,79.429443
761,2023-02-01 17:00:00,Red Velvet Cake,3,15.060133,East,Cash,False,Rainy,NaN,Good,...,50,In Store,Claire Davidson,"7236 Johnson Shoal Apt. 437\r\nEast Margaret, ...",617-547-9146,keith98@example.net,Courtney Martin,asmith@example.net,Wednesday,45.180399
958,2023-02-09 22:00:00,Vanilla Cake,5,15.599514,North,Online,True,Rainy,25.964525,Average,...,30,In Store,Joseph Vasquez,USS Schneider\r\nFPO AA 52721,(975)738-4735x504,NaN,John Nguyen,portega@example.com,Thursday,77.997570
1000,2023-01-31 23:00:00,Pizza Beef Double decker,5,15.885889,South,Cash,True,Sunny,28.524787,Good,...,54,Online Order,Kathleen Turner,"9239 Monica Ville Suite 529\r\nMosesland, AR 8...",412-980-5720x189,zperez@example.net,Michael Arroyo,mario41@example.org,Tuesday,79.429443
1001,2023-02-01 17:00:00,Red Velvet Cake,3,15.060133,East,Cash,False,Rainy,NaN,Good,...,50,In Store,Claire Davidson,"7236 Johnson Shoal Apt. 437\r\nEast Margaret, ...",617-547-9146,keith98@example.net,Courtney Martin,asmith@example.net,Wednesday,45.180399
1002,2023-01-04 06:00:00,Pizza Beef Double decker,2,10.622054,North,Online,True,Cloudy,27.140851,Average,...,54,Online Order,Jordan Brown,"35015 Barnes Ville Suite 109\r\nLake Michelle,...",595.632.5703x77271,patrickpadilla@example.net,Laura Smith,jenniferpeterson@example.org,Wednesday,21.244107
1003,2023-02-09 22:00:00,Vanilla Cake,5,15.599514,North,Online,True,Rainy,25.964525,Average,...,30,In Store,Joseph Vasquez,USS Schneider\r\nFPO AA 52721,(975)738-4735x504,NaN,John Nguyen,portega@example.com,Thursday,77.997570
1004,2023-01-19 12:00:00,Pizza Margherita,3,11.884452,North,Credit Card,False,Rainy,20.918250,Excellent,...,39,In Store,William Fleming,"1185 Reed Gardens Apt. 896\r\nAlvaradoberg, NJ...",311-265-8170,shane70@example.org,Christian Avila,NaN,Thursday,35.653357

In [5]:
#Drop Duplicates
data.drop_duplicates(inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   object
 1   ProductName             1000 non-null   object
 2   Quantity                1000 non-null   int64
 3   UnitPrice               1000 non-null   float64
 4   StoreLocation           1000 non-null   object
 5   PaymentType             1000 non-null   object
 6   PromotionApplied        1000 non-null   bool
 7   Weather                 1000 non-null   object
 8   Temperature             900 non-null    float64
 9   StaffPerformanceRating  1000 non-null   object
 10  CustomerFeedback        900 non-null    object
 11  DeliveryTime_min        1000 non-null   int64
 12  OrderType               1000 non-null   object
 13  CustomerName            1000 non-null   object
 14  CustomerAddress         1000 non-null   object
 15  Customer_PhoneNumber    1000 non-null   object
 16  CustomerEmail           900 non-null    object
 17  Staff_Name              1000 non-null   object
 18  Staff_Email             900 non-null    object
 19  DayOfWeek               1000 non-null   object
 20  TotalSales              1000 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 165.0+ KB

In [7]:
#Checking for null values
for column in data.columns:
    null_count= data[column].isnull().sum()
    print(column, null_count)

Date 0
ProductName 0
Quantity 0
UnitPrice 0
StoreLocation 0
PaymentType 0
PromotionApplied 0
Weather 0
Temperature 100
StaffPerformanceRating 0
CustomerFeedback 100
DeliveryTime_min 0
OrderType 0
CustomerName 0
CustomerAddress 0
Customer_PhoneNumber 0
CustomerEmail 100
Staff_Name 0
Staff_Email 100
DayOfWeek 0
TotalSales 0

In [8]:
#Handling missing values
numeric_columns=data.select_dtypes(include=['float64','int64']).columns
for col in numeric_columns:
    data[col].fillna({col: data[col].mean()}, inplace=True)

C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1902142610.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: data[col].mean()}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1902142610.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: data[col].mean()}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1902142610.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: data[col].mean()}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1902142610.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: data[col].mean()}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1902142610.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: data[col].mean()}, inplace=True)

In [9]:
string_columns= data.select_dtypes(include= ['object']).columns
for col in string_columns:
    data[col].fillna({col: 'Unknown'}, inplace=True)

C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)
C:\Users\HP SPECTRE\AppData\Local\Temp\ipykernel_30684\1409686165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna({col: 'Unknown'}, inplace=True)

Creating Table Dataframes

In [37]:
#Creating products table dataframes
products= data[['ProductName']].drop_duplicates().reset_index(drop=True)
products['ProductID']= range(1,len(products)+1)
products= products[['ProductID','ProductName']]

In [41]:
#Creating customers table dataframe
customers= data[['CustomerName', 'CustomerAddress', 'Customer_PhoneNumber',
       'CustomerEmail']].drop_duplicates().reset_index(drop=True)
customers['CustomerID']= range(1, len(customers)+1)
customers= customers[['CustomerID', 'CustomerName', 'CustomerAddress', 'Customer_PhoneNumber',
       'CustomerEmail']]

In [43]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            1000 non-null   int64
 1   CustomerName          1000 non-null   object
 2   CustomerAddress       1000 non-null   object
 3   Customer_PhoneNumber  1000 non-null   object
 4   CustomerEmail         900 non-null    object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [11]:
data.columns

Index(['Date', 'ProductName', 'Quantity', 'UnitPrice', 'StoreLocation',
       'PaymentType', 'PromotionApplied', 'Weather', 'Temperature',
       'StaffPerformanceRating', 'CustomerFeedback', 'DeliveryTime_min',
       'OrderType', 'CustomerName', 'CustomerAddress', 'Customer_PhoneNumber',
       'CustomerEmail', 'Staff_Name', 'Staff_Email', 'DayOfWeek',
       'TotalSales'],
      dtype='object')